In [1]:
CREATE DATABASE just_testing;

postgres: 58401fc6adecc6feaaeafcda6ab72b3c0ebc57e3a27555941ee908fd109d2231# CREATE DATABASE just_testing;
CREATE DATABASE
postgres=#

In [2]:
\l

postgres: 58401fc6adecc6feaaeafcda6ab72b3c0ebc57e3a27555941ee908fd109d2231# \l
                                  List of databases
     Name     |  Owner   | Encoding |  Collate   |   Ctype    |   Access privile
ges
--------------+----------+----------+------------+------------+-----------------
------
 just_testing | postgres | UTF8     | en_US.utf8 | en_US.utf8 |
 postgres     | postgres | UTF8     | en_US.utf8 | en_US.utf8 |
 template0    | postgres | UTF8     | en_US.utf8 | en_US.utf8 | =c/postgres
     +
              |          |          |            |            | postgres=CTc/pos
tgres
 template1    | postgres | UTF8     | en_US.utf8 | en_US.utf8 | =c/postgres
     +
              |          |          |            |            | postgres=CTc/pos
tgres
(4 rows)

postgres=#

In [3]:
\c just_testing

postgres: 58401fc6adecc6feaaeafcda6ab72b3c0ebc57e3a27555941ee908fd109d2231# \c just_testing
You are now connected to database "just_testing" as user "postgres".
just_testing=#

In [4]:
CREATE TABLE films (
    code        char(5) CONSTRAINT firstkey PRIMARY KEY,
    title       varchar(40) NOT NULL,
    did         integer NOT NULL,
    date_prod   date,
    kind        varchar(10),
    len         interval hour to minute
);

postgres: 58401fc6adecc6feaaeafcda6ab72b3c0ebc57e3a27555941ee908fd109d2231# CREATE TABLE films (
just_testing(#     code        char(5) CONSTRAINT firstkey PRIMARY KEY,
just_testing(#     title       varchar(40) NOT NULL,
just_testing(#     did         integer NOT NULL,
just_testing(#     date_prod   date,
just_testing(#     kind        varchar(10),
just_testing(#     len         interval hour to minute
just_testing(# );
CREATE TABLE
just_testing=#

In [5]:
\d

postgres: 58401fc6adecc6feaaeafcda6ab72b3c0ebc57e3a27555941ee908fd109d2231# \d
         List of relations
 Schema | Name  | Type  |  Owner
--------+-------+-------+----------
 public | films | table | postgres
(1 row)

just_testing=#